################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BubbleTrouble/.vs/BubbleTrouble/v15/Browse.VC.opendb
